/* $Id: zen-fixed.css,v 1.1.2.1 2007/11/06 00:55:26 johnalbin Exp $ */

body {
  min-width: 960px;
}

#page {
  width: 960px;      /* page width  */
  margin: 10px auto; /* center the page */
}

#logo-title {
  margin: 10px 0 0 0;
}
