/* $Id: zen-classic.css,v 1.1.2.1 2007/11/06 00:38:39 johnalbin Exp $ */

/* http://ets-dev.berkeley.edu:8901/patterns/themes/zen/fluid_classic/fluid-classic.css */

/*
 * FONT STYLES
 *
 * Standardize font sizes and line-height across browsers
 */

body {
  font: 98% Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
/* IE 5 and 6 can't resize text that is specified in pixels. */
* html body {
  font-size: x-small; /* IE5 will get this value */
  f\ont-size: small; /* IE6 will get this value */
}

div {
	padding-top:0;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:0;
}
table {
  font-size: 100%; /* Forces font size inheritance in IE5 */
  f\ont-size: inherit;
}
select, input, textarea {
  font: 99% Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
pre, code {
  font: 115% "Bitstream Vera Sans Mono", "Courier New", monospace;
}

table tr.odd {
  background: #ddd;
}

tr, td {
  padding: .25em;
}

td.icon {
  text-align: center;
}


/*
 * LAYOUT STYLES
 *
 * Styles pertaining to minor layout adjustments, such as
 * changing from fluid width to fixed width.
 * See layout.css for major adjustments.
 */
body {
  margin: 0;
  padding: 0;
  min-width: 700px;
  /* 2x (left-side fullwidth + main padding) + right-side fullwidth */
}

#page {
  /*width: 900px;  */             /* page width - optional */
  /*margin: 0 auto;   */          /* center the page - optional */
  /*border-left: 2px solid #AAA;*/
  /*border-right: 2px solid #AAA;*/
}


/*
 * OTHER STYLES
 *
 * Styles that are specific to this theme.
 */

/* Common styles */
body {
  background: #fff;
  color:#333333;
}

#page {
  font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
  color: #111;
  line-height: 1.5em;
  background-color: #fff;
}

#container {
  margin: 0 10px 10px 10px;
}

#main .node .content{
  color: #333;
  margin: 0 default;
  padding: 0 default;
  line-spacing:100%;
}

div.content, div.links {
  font-size: 92%;
  margin: 0 default;
  padding: 0 default;
}

a, a:link, a:visited {
	color: #556B2F;
	color: #060;
	/*font-weight:bold;*/
	text-decoration:none;
}

a:hover, a:focus {
	color: #330b38;
	/*font-weight:bold;*/
	border-bottom:1px solid #330b38;
	text-decoration:none;
}

a:active {
  color: #553F5D;
}

li a.active {
  color: #330b38;
  font-weight: bold;
}

h1.title {
  font-size: 150%;
  font-weight: 900;
  color: #330b38;
    color: #606;
}

h1.title, h1.title a, h1.title a:hover {
  font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #606;
  margin: 0;
  margin-bottom: 0;
  line-height: normal;
}

h1 {
  font-size: 140%;
  color: #606;/*These were dark gray in zen_classic*/
}

h1 a, h1 a:hover {
  color: 560;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  margin: .5em 0 .5em 0;
}

h2, .block h3 {
  font-size: 122%;
  border: none;
}

.block h3.field-label {
	margin-bottom:0;
	padding-bottom:.2em;
}

.block h3 {
font-size:100%;
font-weight: normal;
}

h2 {
	color:#402648;/*These were dark gray in zen_classic*/
	color:#606;/*These were dark gray in zen_classic*/
}

h2 a, h2 a:hover, .block h3 a {
  color: #560;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  margin: .5em 0 .5em 0;
}

h3 {
  font-size: 110%;
  font-weight: bold;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  color:#606;
}

h4, h5, h6 {
  font-weight: bold;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
}

pre {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
}

blockquote {
  border: 1px #ccc solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}

img {
  border: 0;
}

ol, ul, dl {
  position: relative;
}

abbr.created {
  border-bottom: none;
  text-decoration: none;
}

/* Header styles */

#logo-title {
  margin: 10px 20px 0 20px;
  position: relative;
}

#logo{
  vertical-align: baseline;
  padding-left: 30px;
}

#name-and-slogan {
  display: inline;
}



/* km edits */

#header {
	background: #eeffcc;
	border-bottom: 2px solid #deb;
}

#site-name {
    margin: 0 0 0 1.4em;
    display: inline;
	vertical-align: top;
	margin-top:45px;
	padding-bottom: 1em;
	position:absolute;
	z-index:100;
	font-weight: 700;
	padding-left: 20px;
	text-align: left;
}

#site-name a{
	color: #ab9;
	font-size: 2em;
	line-height: 1em;
	margin-left: 30px;
	padding-left: 0;
	text-align: left;
}

.node-inner {
	margin-top: 0;
	display: inline;
			}
			

/* end km edits */


#site-slogan {
  color: #aaa;
  margin: 0;
  font-size: 85%;
  margin-left: 20px;
}


#search {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
}

#mission {
  color: #666;
  font-weight: bold;
  padding: 2em;
  background: #DFE1D7 /*url(images/background.png)*/;
  margin-bottom: 20px;
  font-size: 85%;
  border: solid 1px #7D875F;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 85%;
  margin-left: 20px;
}

/* "Skip to Main Content" link
 *
 * This link useful for both blind people and people with mobility impairments
 * who cannot use a mouse.
 */

#skip-nav {
  margin: 0 !important;
  padding-left: 20px;
  font-size: 0.8em;
  line-height: 1;
}
#skip-nav a {
  padding: 1px 10px;
}
#skip-nav a:link, #skip-nav a:visited {
  color: #556b2f; /* same as background color */
  color: #eeffcc;
}
#skip-nav a:hover, #skip-nav a:active, #skip-nav a:focus {
  color: #00ff00;
  background: #556b2f;
  text-decoration: none;
}
/* Alternatively, the skip-nav link can be completely hidden until a user tabs
   to the link. Un-comment the following CSS to use this technique. */
/*
#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
  position: static;
  width: auto;
  height: auto;
}
#logo-title {
  margin: 10px 20px 0 20px;
}
*/

/* Menu styles */
div.menu {
  margin-top: 15px;
}

#primary {
  font-size: 85%;
  line-height: normal;
  padding: 0 0 1px 20px;
  border-bottom: 4px solid #556b2f;
}

#primary ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 100%;
}

#primary ul.links li,
#secondary ul.links li {
  display: inline;
  border-left: none;
  margin: 0;
  padding: 0;
  line-height: 90%;
}

#primary a {
  background: #330b38 /*url(images/tabs.png) repeat-x*/;
  color: #FFF;
  font-weight: bold;
  display: block;
  float: left;
  padding: 5px 14px 5px 14px;
  margin: 0 1px 0 0;
  border: solid #330b38 1px;
  border-width: 1px 1px 0 1px;
}

#primary a {
  background-position: 0% 0;
}

#primary a:hover {
  background-position: 0% -42px;
  text-decoration: none;
}

#primary a.active {
  background-position: 0% -84px;
}

#secondary {
  padding-left: 20px;
  background: #330b38; /*#347FD2;*/
  border-bottom: solid #556b2f 4px;
}
#secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#secondary li a {
  float: left;
  display: block;
  color: #fff;
  font-size: 85%;
  text-decoration: none;
  padding: 0 5px 0 5px;
}

#secondary a:hover {
  background: #556b2f;
}

#secondary a.active {
  font-weight: bold;
}

/* Link styles */
ul.links {
  text-align: left;
  margin: 0 default;
  padding: 0 default;
}

ul.links li {
  border-left: 1px solid #6B784B;
}

.taxonomy {
  margin: 0;
  padding: 0;
  display: inline;
}

.taxonomy ul.links li {
  border: none;
  padding: 0 .1em 0 .2em;
  margin:  0 .1em 0 .2em;
}

/*.taxonomy ul.links li:after {
  content: ",";
}*/

.taxonomy ul.links li.last:after {
  content: "";
}

ul.links li.first {
  padding-left: 0;
  border: none;
}

.links {
  color: #999;
  margin: 0 default;
  padding: 0 default;
}
.links a {
  padding: 0 .1em 0 .1em;
}

.submitted, .taxonomy {
font-size: 85%;
  color: #999;
}

/* Form styles */
input, textarea, textfield {
  margin: 0;
  color: #000;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  padding: 1px;
  font-size: 100%;
}

fieldset {
  border: solid #ccc 1px;
}

input.form-checkbox, input.form-radio {
  border: none;
}

#search .form-text, #user-login-form .form-text {
  color: #444;
  border: 1px solid #330b38;
  padding: 2px;
}

.form-submit, .button {
  padding: 1px;
}

#search .button,
#search .form-submit,
#user-login-form .button,
#user-login-form .form-submit {
  background-color: #330b38/*#553F5D*/;
  color: #fff;
  font-weight: bold;
  border: 1px solid #330b38;
}

#user-login-form {
  text-align: left;
}

#user-login-form .item-list ul {
  margin-top: 10px;
}

/* Alerts, Status, Help Messages  */
.messages {
  min-height: 32px;                 /* icon height */
  padding: 1.3em 1em .3em 52px;
  border: 2px solid #ddd;
  background: #eee;
  margin: 10px 0;
}

div.error {
  border: 2px solid #F00;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}

/* Footer styles */
#footer-wrapper {
  margin: 0;
  margin-top: 15px;
}

#footer {
  background-color: #556b2f;
  border: solid 1px #373F20;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  font-size: 85%;
  padding: 1em;
}

#footer a {
  color: #fff;
  font-weight: bold;
  border-bottom: 1px dotted #FFFFFF;
}

#footer a:hover {
  border-bottom: 1px solid #FFFFFF;
}

#footer img.drupal-powered {
  position: relative;
  top: .3em;
}

.help {
  text-align:left;
  font-size: 98%;
  line-height: 170%;
}

/* Administration styles */
.admin-panel {
  margin: 0;
  padding: 0;
}

.admin-panel .body {
  background-color: #eee;
  border: solid #330b38 1px;
}

.admin-panel .body dl, .admin-panel .body p {
  padding: 10px;
}

dl dt a {
	text-decoration: underline !important;
	color: #462;
}

dl dd {
	padding-bottom: .5em;
	font-size: 95%;
}

.admin-panel h3 {
  margin-bottom: 0;
  padding: 5px 5px 5px 30px;
  font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
  font-size: 122%;
  color: #fff;
  border-width: 0 2px 2px 2px;
  background-color: #330b38;
}

/* Comment styles */
.comment {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #EEEFEB;
}

.comment-unpublished {
  background-color: #FFF;
  background-image: url(images/unpublished.png);
  background-position: center 20px;
  background-repeat: no-repeat;
}

.comment-by-author {
  background: none;
  border: 1px solid #6A5671/*330b38*/;
}

.comment  h3.title {
  font-size: 122%;
}

.comment  h3.title, .comment  h3.title a {
  color: #6B784B;
  font-weight: normal;
  font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
  margin-top: 0;
}

.comment .picture, .node .picture {
  float: left;
  margin-right: 15px;
}

.comment .new {
  color: #FFC600;
  font-weight: bold;
  font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
}

.comment .links {
  text-align: right;
}

/* Poll styles */
.poll .bar .foreground {
  background: #556b2f;
}

.poll .bar {
  padding: 2px;
  background: #DFE1D7;
}

/* Book styles */
div.node div.content .book-navigation {
  background: #eee;
  margin: 0;
  padding: 0;
}

div.node div.content .book-navigation ul.menu {
  border: 0;
  border-top: 1px solid #556b2f;
  margin: 0;
  padding-bottom: 10px;
}

div.node div.content .book-navigation .page-links {
  background: #DFE1D7; /*#347FD2;*/
  border: 1px solid #556b2f;
  border-width: 1px 0 1px 0;
  padding: 5px;
  margin: 0;
}

/* Forum styles */
#forum table {
  width: 100%;
}

/* Pager styles */
.pager {
  text-align: center;
  margin-top: 30px;
}

.pager  a, .pager-current {
  padding: 3px 8px 3px 8px;
  margin: 0 2px 0 2px;
  color: #556b2f;
  font-weight: bold;
  border: solid 1px #eee;
}

.pager-current {
  color: #fff;
  background-color: #556b2f;
}

/* Node, Block, Content styles */
.node {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.node-unpublished {
  background-image: url(images/unpublished.png);
  background-position: center 20px;
  background-repeat: no-repeat;
}

/* km edit */
.node h2.title {
  margin-bottom: .1em;
  font-weight: 900;
  margin:0;
  padding:.1em 0 0 0;
  color: #556B2F;
  	  color:#606;
}

.node h2.title a {
  color: #555;
  color: #556B2F;
   color: #895;
  font-size: 110%;
  font-weight: normal;
  font-family: Verdana, Tahoma, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-weight: 900;
  margin:0;
  padding:0;
}
/* end km edit */

.node .content {
  padding-top: 10px;
  padding-bottom: 5px;
}

.sticky {
  border-bottom: solid 3px #ddd;
}

#sidebar-left .block, #sidebar-right .block {
  border-bottom: solid #9ab 1px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.block .item-list ul {
  padding-left: 0;
  padding-top: 0;
}

/*
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}


/* km edits, added to override /patterns/modules/system/system.css */

li.expanded {
  list-style-type: circle;
  list-style-image: url(../../misc/menu-expanded.png);
  padding: 0 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../misc/menu-collapsed.png);
  padding: 0 0.5em 0 0;
  margin: 0;
  line-height: 1.6em;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  padding: 0 0.5em 0 0;
  margin: 0;
  line-height: 1.6em;
}

/* end km edits */


/* km additions, added to override /patterns/modules/tagadelic/tagadelic.css */
/*$Id: tagadelic.css,v 1.2 2006/11/16 16:57:56 ber Exp $*/
/* Tagadelic default example stylesheet **/

.wrapper.tagadelic {
  text-align : justify;
  margin-right: 1em;
}

.tagadelic.level1 {
  font-size : .7em;
  font-weight: 100
}
.tagadelic.level2 {
  font-size : .75em;
  font-weight: 200
}
.tagadelic.level3 {
  font-size : .8em;
  font-weight: 300
}
.tagadelic.level4 {
  font-size : .9em;
  font-weight: 400
}
.tagadelic.level5 {
  font-size : 1em;
  font-weight: 500
}
.tagadelic.level6 {
  font-size : 1em;
  font-weight: 600
}
.tagadelic.level7 {
  font-size : 1em;
  font-weight: 700
}
.tagadelic.level8 {
  font-size : 1.4em;
    font-weight: 400
}
.tagadelic.level9 {
  font-size : 1.6em;
    font-weight: 400
}
.tagadelic.level10 {
  font-size : 1.6em;
    font-weight: 700
}

/* more km additions  */


#container {
	margin-left: 0;
	padding-left: 0;
}

#sidebar-left {
	background: #dfe8cc;
	padding-right: 0;
	margin-right: 0;
	  padding-top: 1.5em;
	border-top: 5px solid #bca;
}

#block-menu-2 {
	border-bottom: 5px solid #bca;
	margin-bottom: 1em;
}

#sidebar-right {
	margin: 0;
	padding: 0;
	padding-top: 1.5em;
}

.block {
	padding-top:0;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:0;
} 

.block-menu {
	padding-left: .4em;
	padding:0;
	margin:0;
}

.block-inner {
	padding-left: .4em;
	padding-top:0;
	margin-top:-.5em;
	padding-bottom:0;
	margin-bottom:-.5em;
}

.block-inner h2.title  {
	color: #404;
	padding:0;
	margin:0;
	font-weight: normal;
}
.field-items {
	margin:0;
	padding:0;
}

.field-item {
	margin-bottom:1.5em;
	margin-top:0;
	padding-top:0;
}

.field-item p {
	margin:0;
	padding:0;
}

.node-type-image {
	display: inline;
}

.DPImageFieldRequiredToken {
	font-weight:bold;
        font-size:120%;

}
